.bg-college-img{
    background-image: url('../assets/aditya_university_logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
}

.about-us{
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: overline underline;
    text-transform: uppercase;
    text-indent: 10px;
    height: 100%;
    width: 100%;
}